body {
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-size: 7pc;
    text-align: center;
    margin-top: 4pc;
    border-color: black;
    border-radius: 1px;
}
h2 {
    text-align: center;
    margin-top: min(-1pc, 1pc);
    font-size: min(200px, 5vw);
}
button#reg a { 
    text-decoration: none; 
    font-size: min(4vw, 10vw); 
    color: white;
}
button#reg {
    position: relative;
    height: min(70px, auto);
    width: min(100px, auto);
    margin-left: 34%;
    padding: 30px;
    background-color: black;
    margin-top: 0pc;
    border-radius: 45px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button#reg:hover {
    background-color: chocolate;
}
#nav{
    position: absolute;
    width: 100%;
    top: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
    list-style-type: none;
    background-color: antiquewhite;
}
#nav li{
    display: inline-block;
    padding: 0.5%;
    margin-right: 4%;
}
#nav li:first-child{ margin-left: 10%;}
#nav li button {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 10pc;
    padding: 20px;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#nav li button:hover {
    background-color: purple;
}
#nav li button a {color: white; text-decoration: none; font-size: 20px;}
